.page{
    height: 80vh;
    width:30%;
    margin: 0 auto;
    background-color: rgba(21, 160, 86, 0.897);
    border-radius: 20px;
    box-shadow: 5px 4px 10px 5px;
}
#myinput{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
    padding: 15px;
    width: 250px;
    background: transparent;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    text-transform: capitalize;
}
#myinput::placeholder{
    color: white;
}
.addbtn{
    padding: 13px;
    width: 30%;
    border: 2px solid white;
    border-radius: 15px;
    position: relative;
    right: 5px;
    margin-top: 10px;
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.826);
    font-size: 15px;
    background-color: rgba(36, 219, 69, 0.657);
    text-transform: capitalize;

}

.clear{
    width: 30%;
    padding: 13px;
    margin-left: 15px;
    border: 2px solid white;
    border-radius: 15px;
    color: rgba(255, 255, 255, 0.826);
    font-size: 15px;
    background-color: red;
    text-transform: capitalize;
    margin-left: 15px;
    position: relative;
    left: 235px;
}
li{
    font-size: 20px;
}
.btn{
    border: none;
    background: transparent;
    font-size: 17px;
    color: red;
    font-weight: bold;
}

#sndinput{
    margin : 10px 15px;
    padding: 15px;
    width: 250px;
    background: transparent;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    text-transform: capitalize;
}
#sndinput::placeholder{
    color: white;
}
#trdinput{
    margin : 10px 15px;
    padding: 15px;
    width: 250px;
    background: transparent;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    text-transform: capitalize;
}
#trdinput::placeholder{
    color: white;
}
.mylist{
    height: 24vh;
    width: auto;
    overflow-y: hidden;
    color: white;
}

.mylist:hover{
    overflow-y: scroll;
}